@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
:root {
  --primary-white: #fff;
  --primary-purple: #7F00FF;
  --primary-dark: rgb(255 255 255 0);
  --primary-pink: #fcc9c9ee;
  --primary-black: #000000;
  --primary-blue: #1040BD; 
  --primary-light-grey: #afaeae;
}

body {
  font-family: 'Gowun Batang', serif !important;
}

/**************************************************  NAVBAR  **********************************************/
.navbar {
  z-index: 2;
}

.navbar-brand {
  margin-left: 2%;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav {
  margin-right: 6%;
}

@media(max-width: 768px) {

  .navbar-brand h1 {
    font-size: 1.8rem !important;
  }
}

/* --------  Menu Links ---------- */
nav a.nav-link {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .050rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: #fff !important;
  margin-right: .75rem;
  margin-left: .75rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: .2rem solid var(--primary-purple);
}

.navbar-nav > li > a:hover {
  border-top: .2rem solid var(--primary-purple);

}

.navbar-toggler {
  margin-right: 2%;
}

/**************************************************  HEADER  **********************************************/
.header-wrapper {
  position: relative;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.85;
}

.main-info {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: .2rem;
}

.main-info h1 {
  color: var(--primary-purple);
  font-size: 3rem !important;
  text-transform: uppercase;
  font-weight: lighter;
}

@media(max-width: 768px) {
  .main-info {
    padding-top: 32%;
  }
  .main-info h1 {
    font-size: 1.8rem !important;
  }
  .typed-text {
    font-size: 1.2rem !important;
  }
}

/* -----------Typed Text -----------*/
.typed-text {
  font-size: 2.3rem;
  color: var(--primary-white);
  text-transform: uppercase;
}

/*----------- Particles --------- */
.tsparticles-canvas-el {
  position: absolute;
  height: 90vh !important;
  width: 90vw !important;
  z-index: 1;
}

/**************************************************  About Me  **********************************************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-purple);
}

.about-heading {
  text-transform: uppercase;
  color: var(--primary-purple);
}

.card-text {
  font-size: 1.5rem;
}

@media(max-width: 468px) {
  .profile-pic {
    width: 10rem;
  }

  .card-text {
    font-size: 1rem !important;
  }

  .about-heading {
    text-align: center;
    padding-bottom: 5px;
  }
}

/************************* PROJECTS  *************************/
.portfolio-wrapper {
  background: var(--primary-pink);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  color: var(--primary-purple);
}

.project-pics {
  width: 15rem !important;
  height: 10rem !important;
  border: 2px solid var(--primary-purple);
  border-radius: 12%;
}

.project-pic-box {
  position: relative;
  margin: 1rem !important;

}

/*---------------- Overflow --------------------*/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  height: 10rem;
  width: 15rem;
  top: 0;
  border: 2px solid var(--primary-purple);
  border-radius: 12%;
  cursor: pointer;
}

.project-pic-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.project-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 4rem;
  color: var(--primary-purple);
  font-size: 2rem;
}

.project-pic-box:hover .project-icon {
  opacity: 70%;
  transition: .3s ease-in-out;
}

.project-popupbox {
  max-width: 46rem;
  max-height: 20rem;
  width: 30rem;
  padding: .5rem;
}

.description-text {
  max-width: 46rem;
  font-weight: bolder;
}

.image-box-wrapper {
  max-width: 90vw !important;
}

.link {
  cursor: pointer;
  color: var(--primary-blue);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-purple);
}

/*---------------- Media --------------------*/
@media(max-width: 768px){
  .project-popupbox {
    width: 80%;
  }
}

@media(max-width: 500px){
  .project-popupbox {
    width: 70%;
  }
}

/************************ EXPERIENCE ******************************/

.experience {
  padding: 0.7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-purple);
}

.experience-titles {
  font-weight: 600;
}

.experience-images {
  max-width: 300px;
  max-height: 300px;
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-light-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;;
  border: 0.3125rem solid var(--primary-blue);
  background: var(--primary-purple);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  direction: ltr;
}

.timeline-content h2 {
  margin-top: 0.3125rem;
  color: var(--primary-blue);
  font-weight: 900;
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}

/************************ FOOTER ******************************/

.footer {
  background: var(--primary-black);
  color: var(--primary-light-grey);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-light-grey);
  margin: auto;
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-blue);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}