@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --primary-purple: #8527b1;
  --primary-dark: rgb(255 255 255 0);
}

body {
  font-family: 'Acme', sans-serif;
}

/***********  NAVBAR  ***********/
.navbar-brand {
  margin-left: 2%;
  font-size: 1.6rem !important;
}

.navbar-nav {
  margin-right: 6%;
}

/* --------  Menu Links ---------- */
nav a.nav-link {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .050rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: #fff !important;
  margin-right: .75rem;
  margin-left: .75rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: .2rem solid var(--primary-purple);
}

.navbar-nav > li > a:hover {
  border-top: .2rem solid var(--primary-purple);

}

.navbar-toggler {
  margin-right: 2%;
}